In [ ]:
#Looping / Iteration :--
while  loop:-
for loop:--

In [ ]:
# Syntax of while  loop:-

# while condition:
#   statements


# initialize var = 0

# while condition:
#   statements
#   increment / decrement



count = 0
while count <=10:
  print("Count=" , count)
  count = count+1 # count+=1

print("Bbye Counter")

In [ ]:
#Print a series of number from one to 100 if you ur nos is 20 then print nos is 20 and if your nos is 50 print nos is 50

nos = 0
while nos<=100:
  if(nos==20 or nos==50):
    print("nos is 20 and nos is 50")
  elif(nos==50):
    print("Nos is 50")
  nos +=1

In [ ]:
#Fibonacci Sequence
# 0 1 1 2 3 5 8 13 21
nos = int(input("Enter how many number you want to display"))

x = 0
y = 1

c = 2
print("Fibonacci Sequence is ")
print(x)
print(y)

while(c<nos):
  z = x+y
  print(z)
  x = y
  y = z
  c+=1

In [ ]:
#Program to find the sum of given number:--

n = int(input("Enter a number"))
print("n=",n)

s = 0
while(n>0):
  rem = n%10
  s = s+rem
  print(rem)
  n =  int(n/10)
  print("n=",n)
print("Sum of numbers" , s)

In [ ]:
#Program to find out the reverse of  a given nos


n = int(input("Enter a number"))

rev = 0
while(n>0):
  rem = n%10
  rev = rev*10+rem
  n =  int(n/10)

print("Sum of numbers" , rev)

In [ ]:
# Nested Loops :--
# 1
# 1 2
# 1 2 3
# 1 2 3 4


i = 1
while i<5:
  j= 1
  while j<(i+1):
    print(j , end = ' ' )
    j = j+1
  i = i+1
  print()

In [ ]:
#Assignments nos -2 :--

In [3]:
# Program which prints the fibonacci series of a number and write the conditions that nos should not be negative

length = int(input("Enter Lenghth of Sequence:"))
seq = []

while True:
    if(length > 0):
        n = 3
        x = 0
        y = 1

        seq.append(x)
        seq.append(y)

        while(n<=length):
            z = x + y
            seq.append(z)
            x = y
            y = z
            n+=1   
        print(f"Fibonacci Sequence = {seq}")
        break    
    else:
        length = int(input("Enter Positive Length:"))

Fibonacci Sequence = [0, 1, 1, 2, 3, 5, 8, 13]

In [6]:
# Program that finds the distance between 2 points (x1  , y1) and (x2 , y2) using equation formula

import math

x1 = 5
y1 = 2
x2 = 5
y2 = 6

dist = math.sqrt((x2-x1)**2 + (y2-y1)**2)

print("Distance Between 2 points ({},{}) & ({},{}) = {} ".format(x1,y1,x2,y2,dist))

Distance Between 2 points (5,2) & (5,6) = 4.0

In [25]:
# Program to find the best of two test avearage marks out of three and test's marks is accepted from the user

import math



t1 = input("Enter Marks for First Test(Space Seperated):").split()
l1 = [float(x) for x in t1]
m1 = sum(l1)/len(l1)

t2 = input("Enter Marks for Second Test(Space Seperated):").split()
l1 = [float(x) for x in t2]
m2 = sum(l1)/len(l1)

t3 = input("Enter Marks for Third Test(Space Seperated):").split()
l1 = [float(x) for x in t3]
m3 = sum(l1)/len(l1)


print(f"Avg Marks for First Test : {m1}")
print(f"Avg Marks for Second Test : {m2}")
print(f"Avg Marks for Third Test : {m3}")


if(m1 > m2 and m1 > m3):
    print(f"First Highest = {m1}")
    if(m2 > m3):
        print(f"Second Highest = {m2}")
    else:
        print(f"Second Highest = {m3}")
elif(m2 > m1 and m2 > m3):
    print(f"First Highest = {m2}")
    if(m1 > m3):
        print(f"Second Highest = {m1}")
    else:
        print(f"Second Highest = {m3}")
else:
    print(f"First Highest = {m3}")
    if(m1 > m2):
        print(f"Second Highest = {m1}")
    else:
        print(f"Second Highest = {m2}")

Avg Marks for First Test : 30.0
Avg Marks for Second Test : 40.0
Avg Marks for Third Test : 69.6
First Highest = 69.6
Second Highest = 40.0

In [21]:
import math
nums = input("Enter Marks for First Test(Space Seperated):")
            
l1 = nums.split()

l1 = [float(x) for x in l1]
avg = sum(l1)/len(l1)
avg

3.0

In [8]:
# Program to find the area of triangle and perimeter of triangle


h = 5

a = 4
b = 10
c = 5

area = (b*h)/2

perimeter = a + b + c

print(f"Area of Triangle = {area}")
print(f"Perimeter of Triangle = {perimeter}")

Area of Triangle = 25.0
Perimeter of Triangle = 19

In [10]:
# Program to swap the two variables without using the third variable

a = 10
b = 20

print(f"a = {a} , b = {b}")

a,b = b,a

print(f"a = {a} , b = {b}")

a = 10 , b = 20
a = 20 , b = 10

In [16]:
# Write a python program to add two nos which is integer datatype and its result should be displayed as floating datatype

a = 10
b = 20


res = a + b
print(f"Result = {float(res)}")

Result = 30.0

In [31]:

# Program to generate student Result . Accept marks of five subject and display the result according to following conditions:-

# Percentage     Division
# >=75             First Class with Distinction
# >=60 and <75     First Class
# >=45 and <60     Second Class
# >=40 and <45     Pass
# <40              FAIL


Marks = input("Enter Marks of 5 Subjects(Space Seperated):").split()
l1 = [float(x) for x in Marks]
avg_marks = sum(l1)/len(l1)

print(f"Marks = {avg_marks}")

if(avg_marks >= 75):
    print("First Class with Distinction")
elif(avg_marks >= 60 and avg_marks < 75):
    print("First Class")
elif(avg_marks >= 45 and avg_marks < 60):
    print("Second Class")
elif(avg_marks >= 40 and avg_marks < 45):
    print("Pass")
else:
    print("Fail !!")

Marks = 81.8
First Class with Distinction

In [49]:
# Program to print the following pattern

# *
# * *
# * * *
# * * * *


i = 1
while(i<=5):
    j = 1
    while(j<i):
        print(" * ",end='')
        j = j + 1
    i = i + 1
    print()

 *
 *  *
 *  *  *
 *  *  *  *

In [50]:
# Using For Loop

for i in range(1,5):
    for j in range(i):
        print(" * ",end='')
    print()

 *
 *  *
 *  *  *
 *  *  *  *

In [56]:
# Program to print the table of 6 I want O/P as in given format
# 6 * 1 = 6
# 6 * 2 = 12
# 6 * 3 = 18
# .
# .
# .
# .
# 6 * 10 = 60

n = int(input("Enter Number:"))
i = 1
while(i <= 10):
    print(f"{n} x {i} = {i * n}")
    i = i + 1

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [70]:
# Program which accpets 5 integers values and print "DUPLICATES" if any of the values entered are repeated otherwise it prints
# "ALL UNIQUE" . Let 5 integers are (32 , 45 , 90 ,45 ,6 )
#  Now you can se dupliactes is 45 and uniques are 32 , 90 , 6 so my output should be in below format

# DUPLICATE : 45
# UNIQUE : 32
# UNIQUE : 90
# UNIQUE  : 6

nos = [32,45,90,45,6]

duplicates = set()
seen = set()

for n in nos:
    if(n in seen):
        duplicates.add(n)
    else:
        seen.add(n)

print(duplicates)
print(seen)

for i in nos:
    if i in duplicates:
        print(f"Duplicate:{i}")
    else:
        print(f"Unique:{i}")

{45}
{32, 90, 45, 6}
Unique:32
Duplicate:45
Unique:90
Duplicate:45
Unique:6