In [6]:
# A Set is an Unordered Collection of items.
# Every item in a set is Unique(no duplicates) and it must be immutable.
# set uses this curly braces {} .
# Set itself is mutable

a = {}
print("Empty set",a)

a = {1,2,3,4,5,6,7}
print(a)

b = {1,1,1,1,12,2,23,4,5,5,8}
print("Unique Elements :", b)

print(type(a))
print(type(b))

Empty set {}
{1, 2, 3, 4, 5, 6, 7}
Unique Elements : {1, 2, 4, 5, 23, 8, 12}
<class 'set'>
<class 'set'>
Set Function: {'a', 'c', 'b'}

In [9]:
# Creating set using set() function
s = set('abc')
print("Set Function:", s)


s1 = set(range(1,10))
print(s1)

s2 = set([1,2,3,4,5,6,7,8,9])
print(s2)

Set Function: {'a', 'c', 'b'}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [11]:
#Accessing the values in a set:
days = set(["Mon" , "Tue" , "Wed" , "Thur" , "Fri","Sat" , "Sun"])
print(days)
for d in days:
  print(d)

{'Mon', 'Tue', 'Sat', 'Fri', 'Sun', 'Thur', 'Wed'}
Mon
Tue
Sat
Fri
Sun
Thur
Wed

In [18]:
#Deleting the values in a Set:

s3 = {"a","b" ,"c", "d", "e" , "f"}
print(s3)

print(s3.discard("b"))
print(s3)

print(s3.remove("a"))
print(s3)

print(s3.pop())
print(s3)


print(s3.clear())
print(s3)

{'a', 'd', 'f', 'e', 'b', 'c'}
None
{'a', 'd', 'f', 'e', 'c'}
None
{'d', 'f', 'e', 'c'}
d
{'f', 'e', 'c'}
None
set()

In [24]:
#Updating sets:-
#add():--

s4 = {1,2,3,4,5}
print(s4)
s4.add(6)
print(s4)

#update() :---
s5 = {1,2,3 ,3,3}
s6 = {'a', 'b', 'c','a' ,'b'}

s5.update(s6)
print(s5)

s5.update({3,4})
print(s5)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 'a', 'b', 'c'}
{1, 2, 3, 'a', 4, 'b', 'c'}

In [30]:
#Basic Operation on a set:-

#Union
#intersection
#Difference
#Comparison
#Symmetric Difference




#Union of the sets:-
A = {1,2,4,6,8}
B = {1,2,3,4,5}
C = A|B
print(C)


print("Union of the sets", A.union(B))

{1, 2, 3, 4, 5, 6, 8}
Union of the sets {1, 2, 3, 4, 5, 6, 8}

In [31]:
#intersection :-
days_A = set(["Mon", "Tue", "Wed"])
days_B = set(["Wed", "Thur", "Fri", "Sat", "Sun"])
ALL_DAYS = days_A & days_B
print(ALL_DAYS)

print("Intersection of the sets", days_A.intersection(days_B))

{'Wed'}
Intersection of the sets {'Wed'}

In [32]:

#Difference of the sets:--
# It will return all the elements which is in set A but not in Set B
S1 = {1,2,3,4,6,8}
S2 = {1,2,3,4,5}
S3 = S1 - S2
print(S3)

print("Difference of the sets:", S1.difference(S2))

{8, 6}
Difference of the sets: {8, 6}

In [28]:
#Comparison of the set:-
DaysA = set(["Mon", "Tue","Wed"])
DaysB = set(["Mon", "Tue", "Wed", "Thu", "Fri","Sat", "Sun"])
subsetRes = DaysA <= DaysB
SupersetRes = DaysB >= DaysA

print(subsetRes)
print(SupersetRes)

True
True

In [35]:
#Symmetric Difference:-
A = {1,2,4,6,8}
B = {1,2,3,4,5}
C = A^B

print(C)

print("Symmetric Difference of the sets:", A.symmetric_difference(B))

{3, 5, 6, 8}
Symmetric Difference of the sets: {3, 5, 6, 8}

In [37]:
s1 = {"red", "green", "blue"}
s2 = {"blue", "yellow", "red", "green", "black"}

#subset

print(s1.issubset(s2))

#superset

print(s1.issuperset(s2))


print(s2.issuperset(s1))


#disjoint set

print(s1.isdisjoint(s2))

True
False
True
False

In [39]:
S = {1,2,8,9,72,4,85,6}
print("Maximum element of the set :",max(S))
print("Minimum element of the set :",min(S))
print("Sorted element of the set :",sorted(S))
print("Sum of the  element of the set :",sum(S))

Maximum element of the set : 85
Minimum element of the set : 1
Sorted element of the set : [1, 2, 4, 6, 8, 9, 72, 85]
Sum of the  element of the set : 187

In [ ]:
#Assigments Questions

In [ ]:
#Question-1 MCQs(Sets)

# 1. Which of the following is correct with respect to above Python code?

# d={"a":3,"b":7}
# A. a dictionary d is created.
# B. a and b are the keys of dictionary d.
# C. 3 and 7 are the values of dictionary d
# D. All of the above.   *



# 2. Which one of the following is correct?

# A. In python, a dictionary can have two same keys with different values.
# B. In python, a dictionary can have two same values with different keys  *
# C. In python, a dictionary can have two same keys or same values but cannot have two same key-value pair  
# D. In python, a dictionary can neither have two same keys nor two same values.



# 3. What will be the output of above Python code?

# d1={"abc":5,"def":6,"ghi":7}

# print(d1[0])

# A. abc
# B. 5
# C. {"abc":5}
# D. Error  *




# 4. What will the above Python code do?

# dict={"Phy":94,"Che":70,"Bio":82,"Eng":95}

#    dict.update({"Che":72,"Bio":80})
# A. It will create new dictionary as dict={"Che":72,"Bio":80} and old dict will be deleted.
# B. It will throw an error as dictionary cannot be updated.
# C. It will simply update the dictionary as dict={"Phy":94,"Che":72,"Bio":80,"Eng":95}  *
# D. It will not throw any error but it will not do any changes in dict




# 5. What will be the result of above Python code?

# dict={"Joey":1,"Rachel":2}

#    dict.update({"Phoebe":2})

#    print(dict)

# A. {"Joey":1,"Rachel":2,"Phoebe":2}  *
# B. {"Joey":1,"Rachel":2}
# C. {"Joey":1,"Phoebe":2}
# D. Error



# 6. Which of the following is False regarding dictionary in Python?

# dict={"Joey":1,"Rachel":2}

#    dict.update({"Phoebe":2})

#    print(dict)

# A. Values of a dictionary can be string,integers or combination of both.
# B. Keys of a dictionary can be string,integers or combination of both
# C. The value of a dictionary can be accessed with the help of indices.  *
# D. None of the above



# 7. Which of the following will delete key_value pair for key="tiger" in dictionary?

# dic={"lion":"wild","tiger":"wild","cat":"domestic","dog":"domestic"}
# A. del dic["tiger"]   *
# B. dic["tiger"].delete()
# C. delete(dic.["tiger"])
# D. del(dic.["tiger"])



# 8. Which of the following will give error?

# Suppose dict1={"a":1,"b":2,"c":3}
# A. print(len(dict1))
# B. print(dict1.get("b"))
# C. dict1["a"]=5
# D. None of these.  *




# 9. Which of the following Python codes will give same output if
# (i) dict.pop("book")  
# (ii) del dict["book"] 
# (iii) dict.update({"diary":1,"novel":5})


# dict={"diary":1,"book":3,"novel":5}
# A. i, ii, iii
# B. i, ii   *
# C. i, iii
# D. ii, iii



# 10. What will be the following Python code?

# dict1={"a":10,"b":2,"c":3}
# str1=""
# for i in dict1:
#     str1=str1+str(dict1[i])+" "   
#     str2=str1[:-1]                
# print(str2[::-1])                 
# A. 3, 2
# B. 3, 2, 10
# C. 3, 2, 01
# D. Error  *

In [40]:
#Question-2 MCQs(Sets)

# 1. Which of the following Python code will create a set?
# (i) set1=set((0,9,0))
# (ii) set1=set([0,2,9])
# (iii) set1={}

# A. iii
# B. i and ii
# C. ii, iii
# D. All of the above  *



# 2. What will be the output of following Python code?

# set1={0,0,9}

# print(set1)
# A. {0,0,9}
# B. {0,9} *
# C. {9}
# D. It will throw an error as there are two 0 while creating the set.



# 3. What will be the output of following Python code?

# set1={2,5,3}

# set2={3,1}

# set3={}

# set3=set1&set2

# print(set3)

# A. {3} *
# B. {}
# C. {2,5,3,1}
# D. {2,5,1}



# 4. What will be the output of following Python code?

# list1=[1,3,4,2]

# x=list1.pop(2)

# print(set([x]))

# A. {1,3,4}
# B. {1,3,2}  *
# C. {2}
# D. {4}



# 5. What will set1|set2 do?

# If set1={"a","b",3}
# set2={3,7}
# A. Elements of set2 will get appended to set1
# B. Elements of set1 will get appended to set2
# C. A new set will be created with the elements of both set1 and set2
# D. A new set will be created with the unique elements of set1 and set2.  *



# 6. What will the below Python code do?

# set1={"a",3,"b",3}

# set1.remove(3)

# A. It removes element with index position 3 from set1
# B. It removes element 3 from set1   *
# C. It removes only the first occurance of 3 from set1
# D. No such function exists for set



# 7. What will the below Python code do?

# set1={2,3}

# set2={3,2}

# set3={2,1}

# if(set1==set2):

#     print("yes")

# else:

#     print("no")

# if(set1==set3):

#     print("yes")

# else:

#     print("no")


# A. Yes, No  *
# B. No, No
# C. Yes, Yes
# D. "==" is not supported for set in Python



# 8. Suppose there are two sets, set1 and set2,where set1 is the superset of set2. It is required to get only the unique elements of both the sets. Which of the following will serve the purpose?

# set1={2,3}

# set2={3,2}

# set3={2,1}

# if(set1==set2):

#     print("yes")

# else:

#     print("no")

# if(set1==set3):

#     print("yes")

# else:

#     print("no")
# A. set1|set2  *
# B. set1&set2
# C. set1-set2
# D. None of the above



# 9. What will the be the result of below Python code?

# set1={1,2,3}

# set1.add(4)

# set1.add(4)

# print(set1)

# A. {1,2,3,4} *
# B. {1,2,3}
# C. {1,2,3,4,4}
# D. It will throw an error as same element is added twice


# 10. Which of the following options will give an error if set1={2,3,4,5}?

# A. print(set1[0])
# B. set1[0]=9  *
# C. set1=set1+{7}
# D. All of the above

In [3]:
#Question-3
# Program to do the iteration over the sets

s = set(range(1,11))
print(s)

for i in s:
    print(i)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
1
2
3
4
5
6
7
8
9
10

In [7]:
#Question-4
# Write a Program to perfrom the different sets operation like in Mathematics

a = {1,2,3,4,5,6}
b = {1,3,5,7,9}

print(f"a = {a}")
print(f"b = {b}")
print(f"Union = {a.union(b)}")
print(f"Intersection = {a.intersection(b)}")
print(f"Difference = {a.difference(b)}")
print(f"Symmetric Difference = {a.symmetric_difference(b)}")

a = {1, 2, 3, 4, 5, 6}
b = {1, 3, 5, 7, 9}
Union = {1, 2, 3, 4, 5, 6, 7, 9}
Intersection = {1, 3, 5}
Difference = {2, 4, 6}
Symmetric Difference = {2, 4, 6, 7, 9}

In [8]:
#Question-5
# Program to find the length of the sets without using the len() function

s = {10,20,30,40,50,60}
count = 0

for i in s:
    count = count + 1

print(f"Length of set = {count}")

Length of set = 6

In [24]:
#Question-6

# Program to sort(Ascending and Descending Order) a dictionary by value

d = {'ele1':20,
     'ele2':10,
     'ele3':40,
     'ele5':30
     }

print(d)

print("Ascending sort:")
print(dict(sorted(d.items(),key=lambda x:x[1])))

print("Descending sort:")
print(dict(sorted(d.items(),key=lambda x:x[1],reverse=True)))

{'ele1': 20, 'ele2': 10, 'ele3': 40, 'ele5': 30}
Ascending sort:
{'ele2': 10, 'ele1': 20, 'ele5': 30, 'ele3': 40}
Descending sort:
{'ele3': 40, 'ele5': 30, 'ele1': 20, 'ele2': 10}

In [33]:
#Question-7
# Program to Concatenate following dictionaries to create a new one

a = {'ele1': 10,
     'ele2':20
     }

b = {'ele3':30,
     'ele4':40
     }

c = a.copy()
c.update(b)

print(f"Concatenated Dict : {c}")

Concatenated Dict : {'ele1': 10, 'ele2': 20, 'ele3': 30, 'ele4': 40}

In [44]:
#Question-8
# Program to check if  a given key is already exists in a dictionary:

d = {'ele1':20,
     'ele2':10,
     'ele3':40,
     'ele5':30
     }

print(d)

check = 'ele2'

if(check in d.keys()):
    print("Found")
else:
    print("NOt Found")

{'ele1': 20, 'ele2': 10, 'ele3': 40, 'ele5': 30}
Found

In [50]:
#Advanced Question:-
#Question-9
# Write a Program to print a dictionary where the keys are numbers between 1 and 15(Both Included ) and the values are square of keys

sq = lambda x:x**2

d = dict((i,sq(i)) for i in range(1,16))
d

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

In [80]:
#Advanced Question:-
#Question-10:
# Write a program to create a dictionary from two list without losing duplicates values:
# sample list : ["Class-V", "Class-VI", "Class-VII", "Class-VIII"], [1,2,3]
# Expected Output:
# defaultdict(<class 'set'>, {"Class-VII":{2} "Class-VI", "Class-VII" :{2}, "Class-V":{1}, "Class-VIII":{3}})


l1 = ["Class-V", "Class-VI", "Class-VII", "Class-VIII"]
l2 = [1,2,3]
d = {}

for key,value in zip(l1,l2):
    if key in d:
        d[key].add(value)
    else:
        d[key] = {value}



print(d)

{'Class-V': {1}, 'Class-VI': {2}, 'Class-VII': {3}}