In [1]:
# Tuples:--
# A tuple is a collection of objects /values/items/datas/elements which are ordered and immutable.
# It is immutable beacuse its values cannot be modified
# Tuple uses ()

In [ ]:
# List and Tuples

# 1) List is mutable and tuple is immutable
# 2) The syntax of tuple is shown by parenthesis() whereas syntax of list is shown by sqauare [] brackets
# 3)List has variable length  , where as tuple has fixed length.
# 4) List has more functionality than the tuple.
# 5) Tuples are heterogenous while list are homogenous
# 6) Tuples show structure whereas lists show order
# 7) Unexpected errors and changes can easily occur in list  , while tuples unexpected errors and changes are rarely seen in tuples.

In [5]:
t1 = (1,2,3,4,5,6)
print(t1)


t2 = (1,2,3,3.14,52.023,"One" , "Priyanka" , "Dhananjay" ,"Shweta" , "Students" ,'@' , True , False)
print(t2)

print(type(t2))

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 3.14, 52.023, 'One', 'Priyanka', 'Dhananjay', 'Shweta', 'Students', '@', True, False)
<class 'tuple'>

In [10]:
#Acessing values in tupls:-
t3 = (10,20,30,40,50)
print(t3[2])
print(t3[-1])
print(t3[1:4])
print(t3[1:])
print(t3[:4])

30
50
(20, 30, 40)
(20, 30, 40, 50)
(10, 20, 30, 40)

In [12]:
#Nested Tuples:--
t4 = (1,2,3,("One" ,"two" ,"three") ,4 , 5 )
print(t4)
print(t4[3][1])

(1, 2, 3, ('One', 'two', 'three'), 4, 5)
two

In [1]:
#lets try by changing the element
# when we will change the element through the indexes in tuple then it will show TypeError
t5 = (1,2,3,4,5,6)
t5[0] = 100
print(t5)

TypeError: 'tuple' object does not support item assignment

In [18]:
#tuple assignment
piyush = (11 , "shweta" , "Hitesh" , "pune")
(id , name1 , name2 , location) = piyush
print(id)
print(name1)
print(name2)
print(location)

11
shweta
Hitesh
pune

In [20]:
#Deleting the tuple

t5 = (1,2,3,4,5,6)
print(t5)
# del t5
# print(t5)

(1, 2, 3, 4, 5, 6)

In [21]:
#Interview Question
a = (1,2,3,4,5)
b = a[:2]+a[3:]
print(b)

(1, 2, 4, 5)

In [22]:
# Basic Operation
# concatenation of the tuple(+)
a = (1,2,3,4,5)
b = (6,7,8,9,10)
print(a+b)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [23]:
# Repetion(*)
c = (1,2,3,4,5)
print((c)*4)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [25]:
# Membership of the tuple:--
c = (1,2,3,4,5)
print(1 in c)
print(10 in c)

True
False

In [4]:
#Traversing the tuple:--
tp1 = (1,2,3,4,5,6,7,8,9)
for i in tp1:
  print(i)





tp2 = (1,2,3,4,(5,6,7,8),9,10)
for i in tp2:
  print(i)

1
2
3
4
5
6
7
8
9
1
2
3
4
(5, 6, 7, 8)
9
10
1
2
3
5
6
7
8
9
10

In [7]:
# Nested tuple traversing:-
tp3 = (1,2,3,(5,6,7,8),9,10)
for i in tp3:
  if isinstance(i, tuple):
    for j in i:
      print(j)
  else:
    print(i)

1
2
3
(5, 6, 7, 8)
5
6
7
8
9
10

In [16]:
#How to Update the values inside the tuple:--

tpl = (1,2,3,4,5,6)
print("Tuple:-" ,tpl)
tpl_to_lst = list(tpl)
print("List:-",tpl_to_lst)

tpl_to_lst[0] = 100
tpl_to_lst[3] = (20,30,40,50)
print(tpl_to_lst)

lst_to_tpl = tuple(tpl_to_lst)
lst_to_tpls = tuple(tpl_to_lst[3])
print(lst_to_tpls)
print(lst_to_tpl)

Tuple:- (1, 2, 3, 4, 5, 6)
List:- [1, 2, 3, 4, 5, 6]
[100, 2, 3, (20, 30, 40, 50), 5, 6]
(20, 30, 40, 50)
(100, 2, 3, (20, 30, 40, 50), 5, 6)

In [20]:
tpls = (1,2,3,4,5,6)
print(len(tpls))

print(max(tpls))
print(min(tpls))

6
6
1
<zip object at 0x7d05f997f280>

In [22]:
# zip() functions:-

tpls = (1,2,3,4,5,6)
tpls2 =('A', 'B' ,'C', 'D' , 'E' , 'F')

tupls3 = zip(tpls , tpls2)
print(tupls3)
print(list(tupls3))

<zip object at 0x7d05f99bfdc0>
[(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D'), (5, 'E'), (6, 'F')]

In [28]:
#Program to create alist of tuples with the first element as the number and second element as the square of the number

x = int(input("Enter a first element:"))
y = int(input("Enter the second element:"))

res = [(i ,i**2)
        for i in range(x , y+1)]
print(res)

Enter a first element:1
Enter the second element:5
[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [30]:
#Program to convert the tuple into a string
tup = ('C', 'O', 'A', 'C' ,'H', 'X')
str = ''.join(tup)
print(str)


string_res = ''
for i in tup:
  string_res +=i

print(string_res)

COACHX
COACHX

In [34]:
s1 = "Python Programming"
s1.find("Prog", 5)
s1.find("Prog", 7)

7

In [10]:
# Assignments :-
# 1)Program to create a tuple with numbers and print one item


start = 1
stop = 5

t1 = [i for i in range(start,stop+1)]
t1 =tuple(t1)

print(t1)
print(type(t1))

print(t1[2])  #prints item at 3rd index

(1, 2, 3, 4, 5)
<class 'tuple'>
3

In [13]:
#2) Program to unpack a tuple in several variables


record = (101,'Akshay','Computer Science')
(id,Name,Branch) = record

print(f"ID = {id} , Name = {Name} , Branch = {Branch}")

ID = 101 , Name = Akshay , Branch = Computer Science

In [15]:
#3) Write a program to add an item in a tuple

t1 = (20,30,40,50)

t1 = list(t1)
t1.append(60)
t1 = tuple(t1)

t1

(20, 30, 40, 50, 60)

In [36]:
#4) Write a Program to find the repeated items in the tuple

t1 = (10,20,30,30,40,50,40)

repeated = set()

for i in t1:
    if(t1.count(i) > 1):
        repeated.add(i)
     
print(f"Repeated Items = {repeated}")

Repeated Items = {40, 30}

In [38]:
#5) Create a tuple sequance from 1 to 10 and sperate even and odd nos from it

t1 = (1,2,3,4,5,6,7,8,9,10)
even = []
odd = []

for i in t1:
    if(i%2 == 0):
        even.append(i)
    else:
        odd.append(i)
    
print(f"Even = {tuple(even)}")
print(f"Odd = {tuple(odd)}")

Even = (2, 4, 6, 8, 10)
Odd = (1, 3, 5, 7, 9)

In [58]:
l1 = [5,4,3,2,1,3]

l1.insert(10,'hh')

print(l1)

[5, 4, 3, 2, 1, 3, 'hh']

In [ ]:
#Which of the following would give an error?

# A. list1=[]
# B. list1=[]*3
# C. list1=[2,8,7]
# D. None of the above    *



# 2. Which of the following is True regarding lists in Python?

# A. Lists are immutable.
# B. Size of the lists must be specified before its initialization
# C. Elements of lists are stored in contagious memory location.  *
# D. size(list1) command is used to find the size of lists.  



# 3. What will be the output of below Python code?

# list1=[8,0,9,5]

# print(list1[::-1])
# A. [5,9,0,8]  *
# B. [8,0,9]
# C. [8,0,9,5]
# D. [0,9,5]



# 4. Which of the following will give output as [23,2,9,75] ?

# If list1=[6,23,3,2,0,9,8,75]
# A. print(list1[1:7:2])
# B. print(list1[0:7:2])
# C. print(list1[1:8:2])  *
# D. print(list1[0:8:2])


# 5. The marks of a student on 6 subjects are stored in a list, list1=[80,66,94,87,99,95]. How can the student's average mark be calculated?

# A. print(avg(list1))
# B. print(sum(list1)/len(list1))  *
# C. print(sum(list1)/sizeof(list1))
# D. print(total(list1)/len(list1))



# 6. What will be the output of following Python code?

# list1=["Python","Java","c","C","C++"]

# print(min(list1))
# A. c
# B. C++
# C. C  *
# D. min function cannot be used on string elements


# 7. The elements of a list are arranged in descending order. Which of the following two will give same outputs?
#    i. print(list_name.sort())
#    ii. print(max(list_name))
#    iii. print(list_name.reverse())
#    iv. print(list_name[-1])

# A. i, ii
# B. i, iii   *
# C. ii, iii
# D. iii, iv



# 8.  What will be the result after the execution of above Python code?

# list1=[3,2,5,7,3,6]

# list1.pop(3)

# print(list1)
# A. [3,2,5,3,6]   *
# B. [2,5,7,3,6]
# C. [2,5,7,6]
# D. [3,2,5,7,3,6]



# 9. What will be the output of below Python code?

# list1=[1,3,5,2,4,6,2]

# list1.remove(2)

# print(sum(list1))
# A. 18
# B. 19
# C. 21  *
# D. 22



# 10. What will be the output of below Python code?

# list1=["tom","mary","simon"]

# list1.insert(5,8)

# print(list1)
# A. ["tom", "mary", "simon", 5]
# B. ["tom", "mary", "simon", 8]  *
# C. [8, "tom", "mary", "simon"]
# D. Error

In [ ]:
# Which of the following creates a tuple?

# A. tuple1=("a","b")   *
# B. tuple1[2]=("a","b")
# C. tuple1=(5)*2
# D. None of the above



# 2. Choose the correct option with respect to Python.

# A. Both tuples and lists are immutable.
# B. Tuples are immutable while lists are mutable.  *
# C. Both tuples and lists are mutable.
# D. Tuples are mutable while lists are immutable.



# 3. Choose the correct option.

# A. In Python, a tuple can contain only integers as its elements.
# B. In Python, a tuple can contain only strings as its elements.
# C. In Python, a tuple can contain both integers and strings as its elements.  *
# D. In Python, a tuple can contain either string or integer but not both at a time.



# 4. What will be the output of below Python code?

# tuple1=(5,1,7,6,2)

# tuple1.pop(2)

# print(tuple1)

# A. (5,1,6,2)  *
# B. (5,1,7,6)
# C. (5,1,7,6,2)
# D. Error



# 5. What will be the output of below Python code?

# tuple1=(2,4,3)

# tuple3=tuple1*2

# print(tuple3)

# A. (4,8,6)
# B. (2,4,3,2,4,3)  *
# C. (2,2,4,4,3,3)
# D. Error



# 6. What will be the output of below Python code?

# tupl=("annie","hena","sid")

# print(tupl[-3:0])

# A. ("annie")
# B. ()  *
# C. None
# D. Error as slicing is not possible in tuple.



# 7. Which of the following options will not result in an error when performed on tuples in Python where tupl=(5,2,7,0,3)?

# A. tupl[1]=2  
# B. tupl.append(2)
# C. tupl1=tupl+tupl  *
# D. tupl.sort()



# 8. What will be the output of below Python code?

# tupl=()

# tupl1=tupl*2

# print(len(tupl1))
# A. 0   *
# B. 2
# C. 1
# D. Error as tuple object has no attribute to len



# 9. What will be the output of below Python code?

# tupl=([2,3],"abc",0,9)

# tupl[0][1]=1

# print(tupl)

# A. ([2,3],"abc",0,9)
# B. ([1,3],"abc",0,9)
# C. ([2,1],"abc",0,9)
# D. Error     *



# 10. Which of the following two Python codes will give same output?
# (i) print(tupl[:-1])
# (ii) print(tupl[0:5])
# (iii) print(tupl[0:4])
# (iv) print(tupl[-4:])

# If tupl=(5,3,1,9,0)

# A. i, ii
# B. ii, iv
# C. i, iv
# D. i, iii  *